body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f7f7f7;
  margin: 0rem;
  display: grid;
  gap: 60px;
  justify-items: center;
  margin-top: 60px;
}
.header {
  display: grid;
  justify-items: center;
  gap: 40px;
}
a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
}

p,
h1,
h2,
h3 {
  margin: 0px;
}
p {
  font-size: 1.25rem;
}

.home-buttons {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.home-buttons a:hover {
  border-color: #e21;
}

.home-buttons a {
  background-color: white;
  padding: 1rem 2rem;
  border-radius: 4px;
  display: block;
  border: 2px solid transparent;
}
.conteudo-bike {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
}
img {
  display: block;
  max-width: 100%;
}
.bikecraft {
  height: 300px;
}
.bike {
  display: grid;
  position: relative;
  background-color: white;
  align-content: center;
  padding: 40px;
  text-align: ight;
  gap: 20px;
  justify-items: end;
}
.bike h1 {
  font-size: 2rem;
}
.bike::before {
  content: "";
  width: 60px;
  height: 4px;
  background-color: #e21;
  position: absolute;
  top: 30px;
  right: -30px;
}
.bike::after {
  content: "";
  width: 60px;
  height: 4px;
  background-color: #e21;
  position: absolute;
  bottom: 30px;
  right: -30px;
}

.button-vermais {
  background-color: #e21;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 1rem 2rem;
}

.button-vermais:hover {
  background: #900;
}
.subtitulo {
  font-size: 4rem;
  color: rgb(167, 167, 167);
  text-align: end;
  padding: 40px;
  align-self: center;
  background-image: url("./images/onda.svg");
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.itens {
  background-color: white;
  padding: 40px;
}
.itens li:nth-child(odd) {
  background-color: #f7f7f7;
}
.vantagens-itens {
  display: grid;
  gap: 10px 20px;
  grid-template-columns: 40px 1fr;
  padding: 10px;
}
.itens li:hover {
  border-left: 4px solid #e21;
}
.vantagens-itens p {
  grid-column: 2;
}
.footer {
  text-align: center;
  background-color: white;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}
