body {
  font-family: "Jost", Arial, Helvetica, sans-serif;
  background-color: #c3ebf3;
  margin: 0px;
  color: #e36c34;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}
.container {
  max-width: 1200px;
  padding: 120px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}
.subtitulo {
  font-size: 8rem;
  line-height: 1.1;
  word-break: break-all;
  max-width: 5ch;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 0px;
}

@media (max-width: 800px) {
  .subtitulo {
    font-size: 3rem;
    text-transform: capitalize;
    max-width: initial;
  }
  .projetos-texto {
    font-size: 1.25rem;
  }
}
